<div class="container">
    <h1>Agregar Persona</h1>
    <hr>
    <form action="submit" class="table">
        <table>
            <tr>
                <td>
                    <label for="">Cedula:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Primer Nombre:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Segundo Nombre:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Primer Apellido:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Segundo Apellido:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Teléfono:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Dirección:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Email:</label>
                </td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Fecha Nacimiento:</label>
                </td>
                <td><input type="date"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Género:</label>
                </td>
                <td>
                    <select name="" id="">
                        <option value="">Seleccionar</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Foto:</label>
                </td>
                <td><input type="file"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-secondary">GUARDAR</button>
    </form>
</div>