<div class="row">
    <div class="col-sm-2">
        <div class="sidebar">
            <header>Market SyS</header>
            <ul>
                <li><a routerLink="/persona-lista"><i class="fas fa-address-book"></i>Personas</a></li>
                <li><a routerLink="/producto-lista"><i class="fas fa-pizza-slice"></i>Productos</a></li>
                <li><a routerLink="/venta"><i class="fas fa-book-open"></i>Venta</a></li>
                <li><a routerLink="/dashboard"><i class="fas fa-dollar-sign"></i>DashBoard</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
</div>