<div class="container">
    <h1>Agregar Producto</h1>
    <hr>
    <form action="">
        <table>
            <tr>
                <td>
                    <label for="">Categoría:</label>
                </td>
                <td>
                    <select name="" id="">
                        <option value="">Seleccione</option>
                        <option value="">Snack</option>
                        <option value="">Bebidas</option>
                        <option value="">Golosinas</option>
                        <option value="">Galletas</option>
                        <option value="">Comida Rápida</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Descripción:</label>
                </td>
                <td><textarea name="" id="" cols="30" rows="3"></textarea></td>
            </tr>
            <tr>
                <td>
                    <label for="">Nombre:</label>
                </td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Precio:</label>
                </td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Cantidad Actual:</label>
                </td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Cantidad Miníma:</label>
                </td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <td>
                    <label for="">Foto:</label>
                </td>
                <td><input type="file"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">GUARDAR</button>
    </form>
</div>